<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logfile">${sys:user.home}/secret_db/logs/application_log.${date:yyyy_MM_dd}</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level: %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile
                name="RollingFile"
                fileName="${sys:logfile}"
                filePattern="${sys:user.home}/secret_db/logs/application_log.%d{yyyy_MM_dd}.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p: %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- Triggering policy based on file size -->
                <!--<SizeBasedTriggeringPolicy size="10MB"/>-->
                <!-- Triggering policy based on time (daily rotation) -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="STDOUT" level="WARN" />
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>